<a href="https://colab.research.google.com/github/Nohalottt/prediction-house-price/blob/main/Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [ ]:
import numpy as np
import pandas as pd
import xgboost
import math
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from __future__ import division
from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, ShuffleSplit
from sklearn.model_selection import train_test_split
from sklearn.metrics import explained_variance_score,mean_squared_error,r2_score
from sklearn.model_selection import learning_curve
from time import time

In [ ]:
data = pd.read_csv("kc_house_data.csv")

In [ ]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
data.shape

(21613, 21)

In [ ]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
data['bedrooms'].unique()

array([ 3,  2,  4,  5,  1,  6,  7,  0,  8,  9, 11, 10, 33])

In [ ]:
data['bedrooms'].value_counts()

bedrooms
3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: count, dtype: int64

Data Cleaning: Handle NA values

In [ ]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Build a Model Now

In [ ]:
new_data = data[['sqft_living','grade', 'sqft_above', 'sqft_living15','bathrooms','view','sqft_basement','waterfront','yr_built','lat','bedrooms','long','zipcode']]

In [ ]:
labels = data['price'].values

In [ ]:
print(labels)

[221900. 538000. 180000. ... 402101. 400000. 325000.]

In [ ]:
X = new_data.values
y =labels

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

In [ ]:
from xgboost import XGBRegressor
xgb = XGBRegressor(n_estimators=450, learning_rate=0.1, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=7)
start = time()
xgb.fit(X_train, y_train)
end=time()
train_time_x=end-start
xgboost=xgb.score(X_test,y_test)
xgb_pred=xgb.predict(X_test)
exp_x = explained_variance_score(y_test,xgb_pred)
x_r2 =r2_score(y_test,xgb_pred)
mse_x=mean_squared_error(y_test,xgb_pred)

In [ ]:
def predict_price(sqft_living,grade,sqft_above, sqft_living15,bathrooms,view,sqft_basement,waterfront,yr_built,lat,bedrooms,llong,zipcode):
    x = np.zeros(X.shape[1])
    x[0] = sqft_living
    x[1] = grade
    x[2] = sqft_above
    x[3] = sqft_living15
    x[4] =bathrooms
    x[5] =view
    x[6] =sqft_basement
    x[7] =waterfront
    x[8] =yr_built
    x[9] =lat
    x[10] =bedrooms
    x[11] = llong
    x[12] =zipcode



    return xgb.predict([x])[0]

In [ ]:
predict_price(1180,7,1180,1340,1,0,0,0,1955,47.5112,3,-122.257,98178)

242501.39